# Dados sensíveis do Vault
vault/agent/role_id
vault/agent/secret_id
vault/agent/token
vault/agent/db.env
vault/config/vault/agent/secret_id

# Dados persistidos do Vault
vault/data/
vault/vault/data/

# Certificados e chaves privadas
vault/tls/*.key
vault/tls/ca.srl
vault/tls/*.csr
*.key
*.pem
*.token

# GitLab Runner local
gitlab-runner/config/config.toml

# Variáveis de ambiente e secrets
.env
*.env
db.env
role_id
secret_id
token

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/

# Logs
*.log
